<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css" />

    <title>Lego Collection</title>
</head>
<body>
    <header>
      <%- include('partials/navbar', {page:''}) %>
    </header>
    <main class="container mx-auto">
        <!-- Hero splash -->
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">The world of Lego awaits</h1>
                <p class="py-6">Build more. Dream more. Embark on a colorful and creative journey with Lego.</p>
                <a href="/lego/sets"><button class="btn btn-primary">Let's Explore!</button></a>
              </div>
            </div>
          </div>
        <!-- Grid -->
          <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <!-- Card 1 -->
              <div class="border-2">
                <div class="card bg-base-100 shadow-xl">
                    <figure>
                      <img class="w-full" src="https://cdn.rebrickable.com/media/sets/0241357594-1.jpg" alt="Stars wars lego set" />
                    </figure>
                    <div class="card-body">
                      <h2 class="card-title">Star Wars: Build Your Own Adventure: Galactic Missions</h2>
                      <p>Follow the Star Wars saga as the crew takes on new Galactic Missions.</p>
                      <div class="card-actions justify-end">
                        <a href="/lego/sets/0241357594-1"><button class="btn btn-primary">View</button></a>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- Card 2 -->
              <div class="border-2">
                <div class="card bg-base-100 shadow-xl">
                    <figure>
                      <img class="w-full" src="https://cdn.rebrickable.com/media/sets/010423-1.jpg" alt="The majestic horse set" />
                    </figure>
                    <div class="card-body">
                      <h2 class="card-title">The Majestic Horse</h2>
                      <p>Designed by previous 2017 Lego Masters UK winners Nathan Dias and Steve Guinness.
                        Given to select members of the Recognised Lego Fan Media group for an April fools prank in 2023, only around 10 are known to exist.</p>
                      <div class="card-actions justify-end">
                        <a href="/lego/sets/010423-1"><button class="btn btn-primary">View</button></a>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- Card 3 -->
              <div class="border-2">
                <div class="card bg-base-100 shadow-xl">
                    <figure>
                      <img class="w-full" src="https://cdn.rebrickable.com/media/sets/0241187567-1.jpg" alt="Ninjago lego set" />
                    </figure>
                    <div class="card-body">
                      <h2 class="card-title">Ninjago: Build Your Own Adventure</h2>
                      <p>Follow the story of the Ninjago, your choices will determine how the story ends.</p>
                      <div class="card-actions justify-end">
                        <a href="/lego/sets/0241187567-1"><button class="btn btn-primary">View</button></a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </main>
</body>
</html>
